.ImgCont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    margin-top: 10px;
}
.ImageItem{
    width: 200px;
    height: 200px;
    border-radius:10px;
    &:hover{
        .favbutton{
            position: relative;
            top:  0;
            right: 100px;
        }
    }
    }
.favbutton{
    position: relative;
    top:  -5px;
    right: 111px;
}
.FavH2{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 25px;
}
.FavoritreContainer{
    width:100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.FavImageItem{
    width: 400px;
    height: 400px;
    border-radius:10px;
}